<html>
  <head>
    <title>Simple Marker</title>
    <!-- The callback parameter is required, so we use console.debug as a noop -->
    <script async src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY_HERE&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
    <link rel="stylesheet" href="./style.css"/>
  </head>
  <body>
    <gmp-map center="43.776222229003906,-79.25752258300781" zoom="14" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="43.776222229003906,-79.25752258300781" title="My location"></gmp-advanced-marker>
    </gmp-map>
  </body>
</html>